@model ProzzoroTest.Models.ContactModel
<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Apply for Middle Full-Stack Developer!</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" method="post" asp-action="AddContact" asp-controller="Contact">
                    <div asp-validation-summary="All" id="alert-msg" class="alert-msg"></div>
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input asp-for="FullName" name="FullName" class="form-control" id="name" type="text" placeholder="Enter your name..." />
                        <label for="name">Full name</label>
                    </div>
                    <!-- Age input-->
                    <div class="form-floating mb-3">
                        <input asp-for="Age" name="Age" class="form-control" id="age" type="number" placeholder="19" />
                        <label for="age">Age</label>
                    </div>

                    <!-- Exp input-->
                    <div class="form-floating mb-3">
                        <input asp-for="Experience" name="Experience" class="form-control" id="experience" type="number" placeholder="5" />
                        <label for="experience">Experience (years)</label>
                    </div>

                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input asp-for="Email" name="Email" class="form-control" id="email" type="email" placeholder="name@example.com" />
                        <label for="email">Email address</label>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input asp-for="PhoneNumber" name="PhoneNumber" class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">Phone number</label>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea asp-for="Message" name="Message" class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem"></textarea>
                        <label for="message">Message</label>
                    </div>
                    <!-- Submit Button-->
                    <button class="btn btn-primary btn-xl w-25 mb-3" id="submitButton" type="submit">Send</button>
                </form>

                <form method="get" id="downloadWord" asp-action="DownloadExcel" asp-controller="Contact">
                    <button class="btn btn-secondary btn-xl w-25" id="submitButton" type="submit">Download</button>
                </form>
            </div>
        </div>
    </div>
</section>