@using ProzzoroTest.Domain.Entities;
@{
    ViewBag.Title = "Gallery";
}

<section class="page-section">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Slider</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Slider -->

            <div class="slider-container">
                <div class="slider">
                    @foreach (GalleryImage galleryImage in ViewBag.GalleryImages)
                    {
                        <div class="slider__item">
                            <img src="~/assets/img/slider/@galleryImage.ImageSource" alt="@galleryImage.Alt">
                            <span class="slider__caption">@galleryImage.Description</span>
                        </div>
                    }                  
                </div>
                <div class="slider__switch slider__switch--prev" data-ikslider-dir="prev">
                    <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13.89 17.418c.27.272.27.71 0 .98s-.7.27-.968 0l-7.83-7.91c-.268-.27-.268-.706 0-.978l7.83-7.908c.268-.27.7-.27.97 0s.267.71 0 .98L6.75 10l7.14 7.418z" /></svg></span>
                </div>
                <div class="slider__switch slider__switch--next" data-ikslider-dir="next">
                    <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13.25 10L6.11 2.58c-.27-.27-.27-.707 0-.98.267-.27.7-.27.968 0l7.83 7.91c.268.27.268.708 0 .978l-7.83 7.908c-.268.27-.7.27-.97 0s-.267-.707 0-.98L13.25 10z" /></svg></span>
                </div>

            </div>
        </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')
</script>

<script src="~/js/slider.js"></script>
<script>
    $(".slider-container").ikSlider({
        speed: 500
    });
    $(".slider-container").on('changeSlide.ikSlider', function (evt) {
        console.log(evt.currentSlide);
    });
</script>
