<!DOCTYPE html>
<html lang="en">

<head>
   
    @await Html.PartialAsync("MetaPartial")

    @await Html.PartialAsync("LinkPartial") 

</head>

<body id="page-top">

    @await Html.PartialAsync("NavigationPartial") 
   
    @await Html.PartialAsync("MastheadPartial") 
    
    @RenderBody()

    @await Html.PartialAsync("FooterPartial") 

    @await Html.PartialAsync("ScriptsPartial") 
  
</body>

</html>