@using ProzzoroTest.Domain.Entities
@{
    ViewBag.Title = "Home";
    ViewBag.LargeTextLength = 50;
}

<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Skills <span class="text-danger">(Hoverable)</span></h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->

            @foreach (SkillItem skillItem in ViewBag.SkillItems)
            {
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            @if (skillItem.Description.Length > ViewBag.LargeTextLength)
                            {
                                ViewBag.HType = "h3";
                            }
                            else
                            {
                                ViewBag.HType = "h1";
                            }

                            <@ViewBag.HType class="text-center text-white">@skillItem.Description</@ViewBag.HType>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/@skillItem.ImageSource" alt="@skillItem.ImageAlt" />
                    </div>
                </div>
            }            
        </div>
    </div>
</section>

<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead">
                    I am actively developing student. I am learning backend technologies for interacting with databases on the .NET platform. At the same time, I'm interested in marking up of websites and the development of classic applications using
                    C++.
                </p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead">I always wanted to be part of the team. Become junior, middle, senior, may be software architect in 10 years :). And i am doing everything to reach this dream.</p>
            </div>
        </div>

    </div>
</section>