@{
    ViewBag.Title = "Oops..";
}
<div class="container text-center pt-5 mb-5">

    <h1>@ViewBag.ErrorMessage</h1>
    <a asp-action="Index" asp-controller="Home"> <h3>Click here to return to home page</h3></a>
</div>